*.VC.db
*.sdf
*.opendb
*.ilk
*.pdb
*.exe
*.log
*.ipdb
*.iobj
*.tmp
*.user
*.spv
*.vcxproj.filters
*.vscode
*.csproj
*.apk

/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/

.vs/
build/
[Bb]in/
[Bb]in_d/
x64/
x86/
Win32/
[Tt]emp/
.vscode/
